<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ site.title }}</h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Inicio" %} active{% endif %}">
        <a href="/">INÍCIO</a>        
      </li>
      <li class="sidebar-nav-item">
        <a href="/">SOBRE</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="~/_posts/contato.html">CONTATOS</a>
      </li>

      {% comment %}
        Páginas geradas dinâmicamente
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}

      <!--li class="sidebar-nav-item"><a href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a></li>
      <li class="sidebar-nav-item"><a href="{{ site.github.repo }}">GitHub project</a></li>
      <li class="sidebar-nav-item">Currently v{{ site.version }}</li-->
    </ul>

    <p>&copy; {{ site.time | date: '%Y' }}. Todos os direitos reservados.</p>
  </div>
</div>
